
.panel-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5; 
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; 
}

.sidebar-title {
  margin-bottom: 0;
}

.sidebar-icons {
  display: flex;
  gap: 1.2rem; 
  font-size: 1.2rem; 
  color: #888; 
}

.main-content {
  flex: 1; 
  padding: 2rem;
}

.sidebar {
  width: 420px; 
  padding: 2rem;
  background-color: #f0f2f5; 
  
}
.sidebar-content {
  background-color: #ffffff; 
  padding: 2rem;
  border-radius: 8px; 
  height: 80%; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10); 
}
.call-button {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 100; 

  &:hover {
    background-color: #0056b3;
  }
}