// Faz o container principal ocupar a tela inteira e alinha os itens
.panel-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5; // Um cinza claro como cor de fundo. Ajuste se necessário.
}

// Define que a área de conteúdo principal deve crescer e ocupar o espaço disponível
.main-content {
  flex: 1; // Este é o segredo para fazer a área principal se expandir
  padding: 2rem;
}

// Define uma largura fixa para a barra lateral
.sidebar {
  width: 380px; // Largura da barra lateral. Você pode ajustar este valor.
  padding: 2rem;
  background-color: #ffffff; // Fundo branco para a barra lateral
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1); // Uma sombra sutil à esquerda
}